package layout

import "nihal-innsof/file-upload/templates/components"

templ Index() {
<html>
@components.Header()

<body>
  <div class="main-section flex flex-col h-screen w-screen items-center p-4 bg-slate-900 ">
    { children... }
    @components.DropRegion()
  </div>
</body>

</html>
}
